$regular-font: "Inter", sans-serif;
$secondary-font: 'Oswald', sans-serif;

$regular-font-size: 13px;

$light-font-weight: 300;
$regular-font-weight: 400;
$medium-font-weight: 500;
$semi-bold-font-weight: 600;
$bold-font-weight: 700;

$primary: #473533;
$text: #473533;
$gray: #F2F2F2;
$gray-text: #B0AFBA;


$r-primary: #E52525;
$r-secondary: #FFE5E5;
$r-secondary-2: #FFA7A7;
$r-secondary-3: #FFF6F6;
$r-dark: #821D1D;

$y-primary: #FFCA00;