$regular-font: 'Oswald', sans-serif;
$regular-font-size: 13px;

$light-font-weight: 300;
$regular-font-weight: 400;
$medium-font-weight: 500;
$semi-bold-font-weight: 600;
$bold-font-weight: 700;

$primary: #473533;
$text: #473533;
$gray: #F2F2F2;
$gray-text: #B0AFBA;